.sign-up-button {
  display: flex;
  padding: 11px 26px;
  border-radius: 20px;
  margin-left: 10px;
  gap: 16px;
  align-items: center;
  border: 0;
  background: #1F1F1F;
  color: white;
}
.sign-up-button > p {
  font: inherit;
  font-weight: inherit;
  font-size: 16px;
  margin: 0px;
}

.sign-up-button:hover {
  cursor: pointer;
}
