.schools-container {
  width: 50%;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.school-logos-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school-logos-inner > p{
  margin: 0;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-calc(100% - (4.9em + 4em))); /* Adjust for logo width and gap */
  }
}
