footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height: 20vh;
    width: 100vw;
    left: -10vw;
    background: #1F1F1F;
    margin: 0;
}

footer p {
    color: white;
}