header {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 45px;
    height: 40px;
}

.header-nav {
    display: flex;
    height: 28px;
    justify-content: center;
    align-items: flex-start;
    gap: 38px;
}
