header {
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0px;
}

.logo {
    width: 55px;
    height: 40px;
}

.header-nav {
    display: flex;
    height: 28px;
    justify-content: center;
    align-items: flex-start;
    margin-top: auto;
}

.header-nav > h4 {
    font-weight: 400;
    margin: 0;
    margin-right: 30px;
}
