.intro {
    display: flex;
    width: 100%;
    height: 450px;
    background: linear-gradient(72deg, #6186A7 8.4%, #ABB1B7 55.58%, #DD6F54 88%);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20vh;
}

.intro-word {
    margin: 50px 0px 50px 80px;
    width: 35%;
}

.intro-word > .tagline {
    color: #241b37;
    font-size: 48px;
    margin-bottom: 0px;
}
.intro-word > .tagline > span {
    color: #BF2402;
}
.intro-word .description {
  margin-bottom: 20px;
}

.intro-pic {
  background-image: url('books.png');
  background-size: cover;
  width: 35%;
  height: 85%;
  margin-right: 40px;
}

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.offer > h2 {
  font-weight: inherit;
  margin-bottom: 60px;
}

.offer-cards {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
