{% extends 'baseloginsignup.html' %}


{% block form %}
<legend>SIGN-UP</legend>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="">
        {% if form.school_name.errors %}
          <label for="school_name", class="school-icon-label invalid">
            <i class="school-name-icon"></i>
            {{ form.school_name(class="school-input") }}
          </label>
          <div class="invalid-feedback">
              {% for error in form.school_name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          <label for="school_name", class="school-icon-label">
            <i class="school-name-icon"></i>
            {{ form.school_name(class="school-input") }}
          </label>
        {% endif %}
      </div>
        <label for="email", class="school-icon-label">
          <i class="school-email-icon"></i>
          {{ form.email(class="school-input") }}
        </label>
        <label for="password", class="school-icon-label">
          <i class="school-password-icon"></i>
          {{ form.password(class="school-input") }}
        </label>
        <label for="confirm_password", class="school-icon-label">
          <i class="school-password-icon"></i>
          {{ form.confirm_password(class="school-input") }}
        </label>
    </fieldset>
    <div class="submit">
      {{ form.submit(class="submit-btn") }}
    </div>
  </form>
<p class="account-text">Already have an account? <a class="anchor" href="{{ url_for('admin_bp.adminLogin') }}">login</a></p>
{% endblock %}
