{% extends 'users/dashboard.html' %}

{% block dashboard_css %}
<link href="{{url_for('static', filename='styles/account.css') }}?cache_id={{ cache_id }}" rel="stylesheet">
{% endblock %}

{% block dashboard_content %}
<main>
  <div class="user-profile">
    <div class="user-profile-pic">
      <img src="../../static/assests/school_logos/{{ current_user.picture }}" style="width: 100px; height: 100px;">
    </div>
    <div>
      <h4 style="font-size: 24px; margin-bottom: 0;">{{ current_user.name }}</h4>
      <p>{{ current_user.email }}</p>
    </div>
  </div>
  
</main> 
{% endblock %}
