{% extends "users/dashboard.html" %}

{% block dashboard_content %}
  <div class="blog-body">
    <div class="blog-content"></div>
    <div class="blog-side-bar">
      <div id="nav-blog-post" class="blog-post nav-el">
        <div id="nav-icon-cont">
          <div class="blog-post-icon"></div>
        </div>
        <p>Create post</p>
      </div>
      <!-- <div class="blog-side-bar-post">
        <div class="blog-post-icon"></div>
          <a href="#">Create post</a>
      </div> -->
      <div id="animation-container" class="animation-container"></div>
    </div>
  </div>
{% endblock %}
{% block body_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js" integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/animation.js') }}?cache_id={{ cache_id }}"></script>
{% endblock %}
