{% extends 'base.html' %}

{% block header_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/dashboard.js') }}?cache_id={{ cache_id }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
{% endblock %}

{% block css %}
  <link href="{{url_for('static', filename='styles/dashboard.css') }}?cache_id={{ cache_id }}" rel="stylesheet">
  {% block dashboard_css %}{% endblock %}
{% endblock %}

{% block content %}
<div id="dashboard" class="dashboard">
  <nav class="side-nav">
    <div class="nav-block">
      <a href="{{ url_for('admin_bp.adminBlog') if admin else url_for('users_bp.userBlog')}}">
      <div id="nav-blog" class="blog nav-el">
        <div id="nav-icon-cont">
          <div class="blog-icon"></div>
        </div>
        <p>Blog</p>
      </div>
      </a>
      {% if admin %}
      <div id="nav-register" class="nav-register nav-el">
        <div id="nav-icon-cont">
          <div class="register-icon"></div>
        </div>
        <div class="register-type">
          <a href="/admin/register/student"><p>student</p></a>
          <a href="/admin/register/staff"><p>staff</p></a>
        </div>
        <p>Register</p>
      </div>
      <div class="nav-view nav-el">
        <div id="nav-icon-cont">
          <div class="view-icon"></div>
        </div>
        <div class="view-type">
          <a href="/admin/view/students"><p>student</p></a>
          <a href="/admin/view/staff"><p>staff</p></a>
        </div>
        <p>View</p>
      </div>
      {% endif %}
    </div>
    <a href="{{ '/admin/account' if admin else '/account'}}">
    <div class="profile">
      {% if admin %}
      <img src="../../static/assests/school_logos/{{ current_user.picture }}" style="width: 70px; height: 70px;">
      {% else %}
      <img src="../../static/assests/user_imgs/{{ current_user.picture }}" style="width: 70px; height: 70px;">
      {% endif %}
    </div>
    </a>
  </nav>
  <div class="content-block">
    {% block dashboard_header %}
      <header>
        <div class="school-name">
          <a href="{{ '/admin/account' if admin else '/account'}}">
            <h4 style="font-size: 32px; font-weight: 500;">{{ current_user.name if admin else current_user.first_name }}</h4>
          </a>
        </div>
        {% if current_user.is_authenticated %}
          <div class="logout"><a href="{{ url_for('admin_bp.adminLogout') if admin else  url_for('users_bp.userLogout')}}">logout</a></div>
        {% endif %}
      </header>
    {% endblock %}
    {% block dashboard_content %}{% endblock %}
    <footer>
      <p>powered by Edvy ©️</p>
    </footer>
  </div>
</div>
{% endblock %}
