{% extends 'base.html' %}

{% block header_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/dashboard.js') }}?cache_id={{ cache_id }}"></script>
{% endblock %}

{% block css %}
  <link href="{{url_for('static', filename='styles/dashboard.css') }}?cache_id={{ cache_id }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="dashboard" class="dashboard">
  <div class="side-nav">
    <div class="nav-block">
      <div id="register" class="register, nav-el">
        <div class="">
          <div class="register-icon"></div>
        </div>
        <p>Register</p>
      </div>
    </div>
    <div class="profile"></div>
  </div>
  </div>
</div>
{% endblock %}
