{% extends 'base.html' %}

{% block header_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/dashboard.js') }}?cache_id={{ cache_id }}"></script>
{% endblock %}

{% block css %}
  <link href="{{url_for('static', filename='styles/dashboard.css') }}?cache_id={{ cache_id }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="dashboard">
  <div class="side-nav">
    <div class="nav-block">
      <div id="register" class="register, nav-el">
        <div class="register-icon"></div>
        <p>Register</p>
      </div>
    </div>
    <div class="profile"></div>
  </div>
  <div id="register-type"class="register-type">
    <p style="margin-top: 10em;">student</p>
    <p>teacher</p>
    <p>staff</p>
  </div>
</div>
<div class="getin-tab">
	{% block form %}{% endblock %}
</div>
{% endblock %}
