{% extends "users/dashboard.html" %}

{% block dashboard_css %}
<link href="{{url_for('static', filename='styles/postblog.css') }}?cache_id={{ cache_id }}" rel="stylesheet">
{% endblock %}

{% block dashboard_content %}
<main class="create-blog-cont">
  <legend>Make a Post</legend>
  <form method="POST" action="" class="post-form">
    {{ form.hidden_tag() }}
    <fieldset class="post-form-group">
      <div class="post-input post-title">
        {{ form.title.label }}
        {{ form.title }}
      </div>
      <div class="post-input post-content">
        {{ form.content.label }}
        {{ form.content }}
      </div>
    </fieldset>
    <div class="post-submit">
      <label for="submit">
        <i class="post-submit-hover"></i>
        {{ form.submit(class="post-submit-btn") }}
      </label>
    </div>
  </form>
</main>
{% endblock %}
