{% extends 'users/dashboard.html' %}
{% block form %}
<legend class='form-header'>Register Student</legend>
<div class="form-group">
  <div class="column-color-vertical"></div>
  <div class="column-color-vertical"></div>
  <div class="column-color-horizontal"></div>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="field">
      <div class="label-container">
        <label for="first_name", class="name-icon-label">
	  <i class="name-icon"></i>
	  {{ form.first_name(class="input") }}
	</label>
      </div>
      <div class="label-container">
        <label for="last_name", class="name-icon-label">
	  <i class="name-icon"></i>
	  {{ form.last_name(class="input") }}
	</label>
       </div>

       <div class="label-container">
         <label for="password", class="name-icon-label">
           <i class="password-icon"></i>
           {{ form.password(class="input") }}
         </label>
       </div>

       <div class="label-container">
         <label for="confirm_password", class="name-icon-label">
	   <i class="password-icon"></i>
	   {{ form.confirm_password(class="input") }}
	 </label>
	 {% if form.confirm_password.errors %}
	   <ul class="errors">
	   {% for error in form.confirm_password.errors %}
	     <li>{{ error }}</li>
	   {% endfor %}
	   </ul>
	   {% endif %}
       </div>
     </fieldset>
     <div class="submit">
       {{ form.submit(class="submit-btn") }}
     </div>
  </form>
</div>
{% endblock %}
