.side-nav {
    background-color: #CFDFEF;
    height: 100vh;
    width: 10em;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-nav {
    justify-content: space-between;
}

.profile {
    width: 60px;
    height: 60px;
    margin-bottom: 34px;
    background-image:  url('../assests/profile-icon.png');
    background-repeat: no-repeat;
}
.nav-block {
    width: 100%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-el {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-icon-cont {
    padding: 4px 28px;
    background-color: blue;
    border-radius: 25px;
}
.nav-el > p {
    margin-top: 6px;
}

.register-icon {
    width: 35px;
    height: 37px;
    background-image: url('../assests/register-icon.png');
    background-repeat: no-repeat;
}