.side-nav {
    background-color: #CFDFEF;
    height: 100vh;
    width: 10em;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.profile {
    width: 70px;
    height: 70px;
    margin-bottom: 34px;
}
.nav-block {
    width: 100%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nav-el {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 0px;
}
.nav-el:hover {
    cursor: pointer;
}
.nav-icon-cont {
    padding: 4px 28px;
    background-color: #DF9D68;
    border-radius: 25px;
}
.nav-el > p {
    margin: 0;
    margin-top: 6px;
}
.blog-icon {
    width: 35px;
    height: 37px;
    background-image: url('../assests/blog-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.register-icon {
    width: 35px;
    height: 37px;
    background-image: url('../assests/register-icon.png');
    background-repeat: no-repeat;
}
.nav-register {
    position: relative;
}

.register-type {
    width: 100%;
    position: absolute;
    top: -5px;
    left: 10em;
    background-color: #CFDFEF;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    text-align: center;
    z-index: 2;
    padding: 10px 0px;
}
.register-type > a {
    margin-bottom: 8px;
}

.nav-register:hover .register-type {
    opacity: 1;
    transform: translateY(0);
}

.content-block {
    padding-left: 10em;
}
header {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid #DF9D68;
    display: flex;
    justify-content: space-between;
}
header > .school-name {
    margin-left: 48px;
    margin-top: 8px;
}

.logout {
    margin-right: 16em;
    font-size: 14px;
    position: relative;
}

.logout > a {
    position: absolute;
    bottom: 8px;
}

footer {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
