.form-group {
  min-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 20px rgba(173, 216, 230, 0.8);
  border: none;
  border-radius: 10px;
}

div {
  /*display: block;*/
  }

.column-color-vertical {
  width: 1.5vh;
  margin: auto;
  height: 100%;
  position: absolute;
  background-color: blue;
}

.form-group > .column-color-vertical:first-child {
  margin-left: 30px;
  background: linear-gradient(132deg, #6186a7 24%, #dd6f54 76%);
  background: linear-gradient(132deg, blue 24%, orange 76%);
}

.form-group > .column-color-vertical:nth-child(2) {
  margin-left: 60px;
  background: linear-gradient(72deg, #6186a7 24%, #dd6f54 76%);
  background: linear-gradient(72deg, purple 24%, orange 76%);
}

.form-group > .column-color-vertical:nth-child(3) {
  margin-left: 65px;
}

.column-color-horizontal {
  width: 15.5%;
  height: 2%;
  position: absolute;
  left: 68px;
  margin-top: 73px;
  background-color: #dd6f54;
}

.form-group > .column-color-horizontal:first-child {
  margin-top: 73px;
  background-color: #dd6f54;
}

.field {
  margin: 0 auto;
  min-width: 500px;
  border: none;
}

.field > .label-container:first-child {
  margin-top: 40px;
}

.field > .label-container:last-child {
  margin-bottom: 10px;
}

.name-icon-label {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 7px;
  background-color: #DEDEDE;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  margin-top: 15px;
}

.label-container {
  width: 70%;
  margin: auto;
  margin-right: 15px;
}

.name-icon-label > i {
  width: 60px;
  height: 18px;
}

.name-icon {
  background-image: url('../assests/school-buiding-icon.svg');
  background-repeat: no-repeat;
}

.password-icon {
  background-image: url('../assests/DotsVertical.png');
  background-repeat: no-repeat;
}

.name-icon-label input {
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  margin-left: 20px;
  padding: 0px;
  background-color: transparent;
}

form {                                                                                                                 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}



.submit-btn {
    border: none;
    background-color: #1F1F1F;
    padding: 16px 5vw;
    color: white;
    border-radius: 12px;
    font-family: inherit;
    font-size: inherit;
    margin: 10px 35%;
}

.submit-btn:hover {
    opacity: 80%;
    background-color: #dd6f54;
    box-shadow:
    0px 10px 20px 0px rgba(0, 0, 0, 0.25),
    0px -5px 10px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
 
.submit-btn:active {
  background-color: purple;
  }

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/*input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}*/
